$primary: #F6F0ED;
$secondary: #1E1E1E;
$cinnabar: #EF3E33;
$silver: #CCCCCC;
$space-unit: 10px;
$space-unit-x2: $space-unit * 2;
$space-unit-x3: $space-unit * 3;
$space-unit-x4: $space-unit * 4;

@mixin font-s() {
  font-size: 1.6rem;
  font-weight: 300;
}
@mixin font-m() {
  font-size: 1.6rem;
  font-weight: 400;
}
@mixin font-l() {
  font-size: 2rem;
  font-weight: 500;
}
@mixin font-xl() {
  font-size: 2.4rem;
  font-weight: 500;
}
@mixin font-xxl() {
  font-size: 2.8rem;
  font-weight: 700;
}

@mixin lightNeumorphism() {
  border-radius: 20px;
  box-shadow:  5px 5px 15px #aaa6a4,
              -5px -5px 10px #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: $primary;
}
