@use 'variables' as *;
@use 'headerFooterContainer' as *;

.Header {
  margin: $space-unit auto 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  color: $secondary;

  @include container;
  @include lightNeumorphism;

  .Header__title {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;

    @include font-xxl;
  }

  .icons-container {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    padding: 0 $space-unit-x2;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $break-point) {
  .Header {
    margin: $space-unit-x4 auto 0;
  }
}
