@use 'variables' as *;

.LoaderEvolutionCard {
  width: 200px;
  min-width: 200px;
  height: 240px;
  margin: auto;
  display: block;
  background-color: $secondary;
  text-decoration: none;
  list-style: none;
  border-radius: 20px;

  @include lightNeumorphism;
  @include blink-animation;
}
