@use 'variables' as *;
.LoaderPokemonCard {
  width: 270px;
  min-width: 280px;
  height: 150px;
  margin: 0 auto;
  display: block;
  background-color: $secondary;
  list-style: none;
  text-decoration: none;
  filter: opacity(1);
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  animation:blink normal 1.5s infinite ease-in-out;

  @include lightNeumorphism;
}
