@use 'variables' as *;

.graphicLoader, .descriptionLoader, .infoLoader, .statsLoader, .capture-rateLoader {
  background-color: #B7B7B7;

  @include blink-animation;
  @include lightNeumorphism;
}

.graphicLoader {
  grid-area: photo;
  width: 100%;
  height: 390px;
}
.descriptionLoader {
  grid-area: description;
  width: 90%;
  height: 132px;
  margin: auto;
}
.infoLoader {
  grid-area: info;
  width: 90%;
  height: 216px;
  margin: auto;
}
.statsLoader {
  grid-area: stats;
  width: 90%;
  height: 596px;
  margin: auto;
}
.capture-rateLoader {
  grid-area: capture;
  width: 230px;
  height: 230px;
  margin: auto;
}
.evolutionLoader {
  grid-area: evolve;
  width: 100%;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 860px) {
  .graphicLoader {
    width: 380px;
    height: 420px;
  }
  .descriptionLoader {
    width: 340px;
    height: 132px;
    margin: 0;
    margin-left: auto;
  }
  .infoLoader {
    width: 340px;
    height: 216px;
    margin: 0;
    margin-left: auto;
  }
  .statsLoader {
    width: 500px;
    height: 390px;
  }
  .capture-rateLoader {
    width: 230px;
    height: 230px;
  }
  .evolutionLoader{
    height: fit-content;
  }
}
