@use 'variables' as *;

.graphicLoader, .descriptionLoader, .infoLoader, .statsLoader, .capture-rateLoader {
  background-color: #B7B7B7;

  @include blink-animation;
  @include lightNeumorphism;
}

.graphicLoader {
  grid-area: photo;
  width: 380px;
  height: 420px;
}
.descriptionLoader {
  grid-area: description;
  width: 340px;
  height: 132px;
  margin-left: auto;
}
.infoLoader {
  grid-area: info;
  width: 340px;
  height: 216px;
  margin-left: auto;
}
.statsLoader {
  grid-area: stats;
  width: 500px;
  height: 390px;
  margin: auto;
}
.capture-rateLoader {
  grid-area: capture;
  width: 230px;
  height: 230px;
  margin: auto;
}
.evolutionLoader {
  grid-area: evolve;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
