@use 'variables' as *;
@use 'primaryCard' as *;

.CardMenu {
  padding: 0 $space-unit-x3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .CardMenu__title {
    color: $primary;

    @include font-l;
  }
  .CardMenu__image {
    width: 80px;
    height: 80px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-1 {
    background-image: url('../assets/images/card-menu-image-1.png');
  }
  .image-2 {
    background-image: url('../assets/images/card-menu-image-2.png');
  }
  .image-3 {
    background-image: url('../assets/images/card-menu-image-3.png');
  }
  .image-4 {
    background-image: url('../assets/images/card-menu-image-4.png');
  }
}

@media (min-width: $break-point) {
  .CardMenu{
    padding: 0 $space-unit-x4;

    .CardMenu__title {
      color: $primary;

      @include font-l-desktop;
    }
    .CardMenu__image {
      width: 120px;
      height: 120px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
