@use 'variables' as *;
@use 'primaryCard' as *;
@use 'types' as *;
@use 'card' as *;

.PokemonCard {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 1fr;
  grid-template-areas:
  "text image";

  .left {
    grid-area: text;
    padding: $space-unit-x2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $primary;

    .number {
      width: 100%;
      letter-spacing: 0.9px;

      @include font-m;
    }
  }

  .right {
    grid-area: image;
    position: relative;
  }

  .image-container {
    position: absolute;
    right: -40%;
  }
}
